/* Page container */
.container {
  width: 650px;
  min-width: 400px;
  margin: 0 auto 0 200px;
}

/* Generate basic column */
.column {
  float: left;
}

.full  { width: 650px; margin: 0; }

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clear { display: inline-block; }   
.clear:after, .container:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }
